.header {
  display: flex;
  background: rgb(235, 235, 235);
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: fixed;
  width: 100%;
  z-index: 15;

  &__headerCart {
    button {
      background: transparent;
      color: black;
      border: none;
      cursor: pointer;
      font-size: 20px;
    }
  }

  &__cartIcon {
    margin-right: 6px;
    font-size: 20px;
  }

  &__headerLogo {
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
  }
}