@use 'mixins';

.product_list {
  @include mixins.centered;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  column-gap: 30px;
  row-gap: 80px;

  @include mixins.mobile {
    grid-template-columns: repeat(1, minmax(240px, 1fr));
  }

  @include mixins.smallerThanDesktop {
    grid-template-columns: repeat(2, minmax(240px, 1fr));
  }
}